<ion-modal-view hide-nav-bar="true">
    <div class="modal">
        <ion-header-bar class="header_back">
            <div style="width: 5%;float: left">
                <button ng-click="add_location_map.hide()" class="button back-button buttons  button-clear header-item">
                    <div style="color: white"><i class="icon ion-close-round"></i></div>
                </button>
            </div>
            <div style="text-align: center;font-size: 18px;color: white;width: 85%;margin-top: 8px;font-size: 25px">
                Map Location
            </div>
            <div style="width: 5%;float: left">
                <button ng-click="add_location_map.hide();
                    initialize()" class="button back-button buttons  button-clear header-item">
                    <div style="color: white"><i class="icon ion-checkmark-round"></i></div>
                </button>
            </div>
        </ion-header-bar>
        <ion-content data-tap-disabled="true">


         </ion-content>
    </div>
</ion-modal-view>


