<ion-modal-view hide-nav-bar="true">
    <div class="modal">
   <ion-header-bar class="header_back">

        <div style="width: 5%;float: left">
       <button ng-click="edit_profile_modal.hide()" class="button back-button buttons  button-clear header-item">
            <div style="color: white"><i class="icon ion-close-round"></i></div>
        </button>
        </div>


        <div style="text-align: center;font-size: 18px;color: white;width: 85%;margin-top: 8px;font-size: 25px">

            Edit Profile

        </div>
       
       <div style="width: 5%;float: left">
             <button ng-click="edit_profile_modal.hide()" class="button back-button buttons  button-clear header-item">
            <div style="color: white"><i class="icon ion-checkmark-round"></i></div>
        </button>
         </div>
    </ion-header-bar>

    <ion-content class="padding">


            
                <input type="text" placeholder="Username" id="inputsolo"><br>
            
                <input type="text" placeholder="First Name" id="inputsolo"><br>
                
                <input type="text" placeholder="Last Name" id="inputsolo"><br>
                
                <input type="text" placeholder="Email" id="inputsolo"><br>
                
                <input type="tel" placeholder="Phone No." id="inputsolo"><br>   



    </ion-content>
     </div>
    </ion-modal-view>


