<ion-view hide-nav-bar="true">
    

     <ion-header-bar class="header_back">
        
        <div style="width: 5%;float: left">
            <button ng-click="$ionicGoBack()"  class="button back-button buttons  button-clear header-item">
                <div style="color: white"><i class="icon ion-android-arrow-back"></i></div>
            </button>
        </div>


        <div style="text-align: center;font-size: 18px;color: white;width: 95%;margin-top: 8px;font-size: 25px">
          
               Map View
                  
        </div>
        
<!--        <div style="width: 5%;float: left">
       <button   class="button back-button buttons  button-clear header-item">
            <div style="color: white"><i class="icon ion-android-search"></i></div>
        </button>
        </div>-->
       
    </ion-header-bar>


    <ion-content id="googleMap" data-tap-disabled="true">
        
        
    </ion-content>

    </ion-view>


