<ion-view hide-nav-bar="true">
    <ion-header-bar class="header_back">
        <div style="width: 5%;float: left">
            <button ng-click="$ionicGoBack()"  class="button back-button buttons  button-clear header-item">
                <div style="color: white"><i class="icon ion-android-arrow-back"></i></div>
            </button>
        </div>
        <div style="text-align: center;font-size: 18px;color: white;width: 85%;margin-top: 8px;font-size: 25px">
          View on Map
        </div>
    </ion-header-bar>
    <ion-content class="has-header">
        <div id="fest_map" style="height: 32em;"></div>
    </ion-content>
</ion-view>

