<ion-modal-view hide-nav-bar="true">
    <div class="modal">
    <ion-header-bar class="header_back">

        <div style="width: 5%;float: left">
            <button ng-click="rate_location_modal.hide()"  class="button back-button buttons  button-clear header-item">
                <div style="color: white"><i class="icon ion-close-round"></i></div>
            </button>
        </div>


        <div style="text-align: center;font-size: 18px;color: white;width: 95%;margin-top: 8px;font-size: 25px">

            Rate Location

        </div>

        
    </ion-header-bar>

    <ion-content>
        <ion-list>

            <ion-item  class="item" >
                <button class="button" style="background-color: #00B58A;color: white;font-size: 15px;float: right">
                    Done
                </button>
                <div style="font-size: 18px">Rate:</div><br>
                <div style="color: #00B58A">
                    <i class="icon ion-ios-star"></i>
                    <i class="icon ion-ios-star"></i>
                    <i class="icon ion-ios-star"></i>
                    <i class="icon ion-ios-star"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                </div>


            </ion-item>
        </ion-list>

    </ion-content>
 </div>
    </ion-modal-view>
